.eslintignore
.eslintrc.json
.git
.gitignore
.vscode/
*.mp3
*.ogg
**/.eslintrc.json
**/*.map
**/jsconfig.json
icon/res/
jsconfig.json
package-lock
ref/
test/
vsc-extension-quickstart.md
webpack.config.js
