**/*.map
**/.eslintrc.json
**/jsconfig.json
.eslintignore
.eslintrc.json
.git
.gitignore
.vscode/
*.mp3
*.ogg
icon/res/
jsconfig.json
package-lock
ref/
test/
vsc-extension-quickstart.md
webpack.config.js