#susresbtn {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  border: none;
}
#susresbtn:hover {
  background-color: var(--vscode-button-hoverBackground);
}
#duration {
  padding-left: 5px;
}
