#backBtn > .codicon {
  transform: scaleX(-1);
}

#canvas {
  background-color: black;
}

#label {
  padding: 0 5px;
}

#seekbar {
  cursor: pointer;
  margin: auto;
  width: 90%;
}

body {
  padding-left: 5px;
}

button {
  background-color: var(--vscode-button-background);
  border: none;
  color: var(--vscode-button-foreground);
  cursor: pointer;
  padding: .3em;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.codicon {
  vertical-align: middle;
}

.d-none {
  display: none;
}

.disabled {
  cursor: default !important;
  opacity: 0.5;
}

.disabled:hover {
  background-color: var(--vscode-button-background) !important;
}

.me-n5 {
  margin-right: -5px;
}

.text-center {
  text-align: center;
}
